body {
    margin:0;
}
h1 {
    font-size: 40px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding:20;
}
a {
    color:black;
    text-decoration:none;
}
#aaa {
    display:grid;
    grid-template-columns: 170px 1fr;
}
#aaa ol {
    border-right:1px solid gray;
    width:100px;
    margin:0;
    padding :20px;
    padding-left:33px;
}
@media(max-width:800px){
  #aaa {
    display:block;
  }
  #aaa ol {
      border-right:none;
  }
  h1 {
      border-bottom: none;
  }
}